// Body
$body-bg: #F4F3F3;

// Typography
$font-family-btn: 'LeelawUI', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-header: 'Sofia', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Colors
//$primary-color: #01A3A4;
$primary-color: #69a7a4;
//$secondary-color: #F5CD79;
$secondary-color: #f4b081;
$border-color: #c7c7cd;
$light-border-color: rgba(17, 17, 17, 0.08);
$gray-text-color-2: #999999;
$gray-text-color: #646464;
$red: red;
$blue: blue;
$tomato: #ff6348;
$coral: #ff7f50;
// Breakpoints
$mobile-breakpoint: 769px;

// Dimensions
$border-radius: 4px;
$border-radius: 4px;
$page-margin-top: 30px;
